<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 p-0">
    <h1 class="text-left">Devices</h1>
  </div>
</div>
<div class="row justify-content-center">
    <div *ngFor="let lists of devicelist" class="col-lg-3 col-md-3 col-sm-12 col-12 border my-2 mx-2 m-lg-2 py-3 px-2 cursor-pointer mat-h3" (click)="deviceInfo(lists.skuid)">
      <p class="text-center font-weight-normal ">{{ lists.devicename }}</p>
      <img src="{{ lists.deviceimage }}" class="img-fluid" alt="Image not found"/>
      <p class="text-center">Today Price
        <span class="font-weight-bold" *ngIf="lists.deviceofferprice > 0"><del>{{ lists.currency }}{{ lists.deviceprice }}</del></span>
        <span class="font-weight-bold" *ngIf="lists.deviceofferprice <= 0">{{ lists.currency }}{{ lists.deviceprice }}</span>
        <span *ngIf="lists.deviceofferprice > 0" class="font-weight-bold pl-1">{{ lists.currency }}{{ lists.deviceofferprice }}</span>
      </p>
    </div>
</div>

<mat-spinner mode="indeterminate" diameter="50" class="spinner-center" *ngIf="!devicelist"></mat-spinner>
